<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="noticeMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->

	<select id="selectAllNotice" resultType="notice">
		select * from noticetb where type='N' and delyn='N' order by wdate desc;
	</select>

	<select id="selectNoticeByNoticeNo" parameterType="int" resultType="notice">
		select * from noticetb where notice_no=#{noticeNo} and type='N' and delyn='N';
	</select>
</mapper>