<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- mybatis mapper파일 -->

<mapper namespace="com.rent.vaca.payment.PaymentRepository">
	
	<!-- 결제 수단 조회 -->
	<select id="selectPaymentOne" parameterType="int">
		select * from reservtb where payment = #{payment}
	</select>
	
	<select id="existsByReservCode" resultType="boolean" parameterType="string">
		select exists (
		select 1 from reservtb where reserv_code = #{code}
    )
	</select>

</mapper>