<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis mapper파일 -->
	<!-- namespace, id, resultType 3가지가 중요 -->

<mapper namespace="accoPhotoMapper">
<!-- namespace는 매퍼를 식별하기 위한 고유한 값 -->

	<select id="selectTopPhotos" parameterType="int" resultType="com.rent.vaca.acco.AccoPhotoVO">
		select * from acco_phototb where acco_no=#{accoNo} limit 5;
	</select>
	
	<!-- 삭제할 사진 조회 -->
	<select id="getPhotosByBizId" resultType="com.rent.vaca.acco.AccoPhotoVO">
	    select
	        photo_no as photoNo,
	        acco_no as accoNo,
	        saved_name as savedName,
	        original_name as originalName,
	        room_no as roomNo
	    from acco_phototb where acco_no = #{accoNo}
	</select>
	
	<!-- 숙소 사진 삭제 -->
	<delete id="deleteAccoPhotoByAccoNo" parameterType="int">
		delete from acco_phototb where acco_no = #{accoNo}
	</delete>

	<select id="photoModal" parameterType="com.rent.vaca.acco.AccoPhotoVO" resultType="com.rent.vaca.acco.AccoPhotoVO">
		select p.* 
			from accotb a 
			inner join roomtb r 
				on a.acco_no=r.acco_no and a.acco_no=#{accoNo} 
			inner join acco_phototb p 
				on r.room_no=p.room_no and r.name=#{roomName};
	</select>
</mapper>