<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- mybatis mapper파일 -->

<mapper namespace="bizMapper">
	<!-- 회원가입 -->
	<insert id="insertBizOne" parameterType="biz">
		insert into biztb(email, pw, phone, name, owner, certificate_no)
		values(#{email}, #{pw}, #{phone}, #{name}, #{owner}, #{certificateNo})
	</insert>
	
	<select id="selectBizCntByEmail" resultType="int" parameterType="string">
		select count(*) from biztb where email = #{email}
	</select>
	
</mapper>