<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- mybatis mapper파일 -->

<mapper namespace="com.rent.vaca.payment.BizRepository">
	<!-- 회원가입 -->
	<insert id="insertBizOne" parameterType="biz">
		insert int biztb(email, pw, phone, name, owner)
		values(#{email}, #{pw}, #{phone}, #{name}, #{owner})
	</insert>
	
</mapper>