<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- mybatis mapper파일 -->

<mapper namespace="userMapper">
	<!-- 일반유저 회원가입 -->
	<insert id="join" parameterType="user">
		insert into usertb(id,name,nickname,pw,wdate,email,phone,grade,social,delyn,banyn,ban_reason)
 		values(null , #{name}, #{nickname} ,#{pw} ,NOW(),#{email} ,#{phone}, "U" , "N"  , "N" , "N" , "");
	</insert><!-- id auto increment 적용됨 -->
	
	<!-- 이메일 중복검사 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		select count(email) from usertb where email = #{email}
		<!-- 0이면사용가능 1이면 불가능 -->
	</select>
	
	<!-- 전화번호 중복검사 -->
	<select id="phoneCheck" parameterType="String" resultType="int">
		select count(phone) from usertb where phone = #{email}
		<!-- 0이면사용가능 1이면 불가능 -->
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="user" resultType="user">
		select * from usertb where email = #{email} and pw = #{pw}
	</select>
	
	<!-- 이메일찾기 -->
	<select id="findEmail" parameterType="String" resultType="user">
		select * from usertb where name = #{name} and phone = #{phone}
	</select>
	
	<!--비밀번호 자동생성-->
	<update id="pwauto" parameterType="String">
		update usertb set pw = SUBSTRING(MD5(RAND()), 1, 16) where email=#{email} and name = #{name} and phone = #{phone}
	</update>
	
	<!--비밀번호찾기-->
	<select id="findPw" parameterType="String" resultType="user">
  		select pw from usertb where email=#{email} and name = #{name} and phone = #{phone}
	</select>
	
	<select id="kakaologin" parameterType="user" resultType="user">
			select * from usertb where accesstoken = #{accesstoken}
	</select>
	
	<insert id="kakaojoin" parameterType="user">
			insert into usertb(id,name,nickname,pw,wdate,email,phone,grade,social,delyn,banyn,ban_reason,accesstoken)
	 		values(null ,SUBSTRING(MD5(RAND()), 1, 5), #{nickname} ,SUBSTRING(MD5(RAND()), 1, 5),NOW(),SUBSTRING(MD5(RAND()), 1, 5) ,SUBSTRING(MD5(RAND()), 1, 5), "U" , "Y"  , "N" , "N" , "",#{accesstoken});
	</insert><!-- 사업자등록을 하지않으면 카카오에서는 불러올수 있는 정보가 닉네임밖에 없습니다 , null값 넣으면 오류나와서 랜덤숫자 넣었습니다. -->
	
	<select id="naverlogin" parameterType="user" resultType="user">
			select * from usertb where accesstoken = #{accesstoken}
	</select>
	
	<insert id="naverjoin" parameterType="user">
			insert into usertb(id,name,nickname,pw,wdate,email,phone,grade,social,delyn,banyn,ban_reason,accesstoken)
	 		values(null ,SUBSTRING(MD5(RAND()), 1, 5), concat("user-",SUBSTRING(MD5(RAND()), 1, 5)),SUBSTRING(MD5(RAND()), 1, 5),NOW(),SUBSTRING(MD5(RAND()), 1, 5) ,SUBSTRING(MD5(RAND()), 1, 5), "U" , "Y"  , "N" , "N" , "",#{accesstoken});
	</insert><!-- 네이버 로그인입니다. 카카오에서 불러올수 있는 정보만 불러옵니다 -->
	
	<select id="getPostsByUserId" parameterType="Int" resultType="notice">
		select notice_no,title,content,wdate,answeryn from noticetb where user_id = #{userId} and delyn = "n"
	</select>
	
	<update id="useraccount" parameterType="String">
		update usertb set pw = ${pw} pw = ${pw} pw = ${pw}where email=#{email} and name = #{name} and phone = #{phone}
	</update>
	
	<update id="useraccountsocial" parameterType="String">
		update usertb set pw = SUBSTRING(MD5(RAND()), 1, 16) where email=#{email} and name = #{name} and phone = #{phone}
	</update>
</mapper>